@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-Bold.ttf);
}

@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-Light.ttf);
}

@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-Medium.ttf);
}

@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-Regular.ttf);
}

@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-Thin.ttf);
}

@font-face {
    font-family: "AfonsoftSansDisplay";
    src: url(./Eaf/AfonsoftSansDisplay-XBold.ttf);
}

@font-face {
    font-family: "AfonsoftSansText";
    src: url(./Eaf/AfonsoftSansText-Bold.ttf);
}

@font-face {
    font-family: "AfonsoftSansText";
    src: url(./Eaf/AfonsoftSansText-Light.ttf);
}

@font-face {
    font-family: "AfonsoftSansText";
    src: url(./Eaf/AfonsoftSansText-Medium.ttf);
}

@font-face {
    font-family: "AfonsoftSansText";
    src: url(./Eaf/AfonsoftSansText-Regular.ttf);
}
