<div [@routerTransition] id="TenantDashboard">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title m-subheader__title--separator">Dashboard</h3>
          <span class="m-section__sub">
            {{ dashboard?.isHostDashboard ? ('HostDashboard' | localize) : ('TenantDashboard' | localize) }}
          </span>
        </div>
      </div>
    </div>

    <div class="m-content">
      <div class="row" *ngIf="!loading">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let tile of tiles">
          <div class="m-portlet m-portlet--bordered-semi m-portlet--skin-dark" [ngClass]="'bg-' + tile.style">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <span class="m-portlet__head-icon">
                    <i [class]="'flaticon ' + tile.icon"></i>
                  </span>
                  <h3 class="m-portlet__head-text">{{ tile.title }}</h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-widget24">
                <div class="m-widget24__item">
                  <h4 class="m-widget24__title">{{ tile.count | number }}</h4>
                  <br />
                  <span class="m-widget24__desc">{{ tile.title }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center p-5" *ngIf="loading">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </div>

      <app-empty-state *ngIf="!loading && tiles.length === 0" [message]="'NoData' | localize"></app-empty-state>
    </div>
  </div>
</div>
