<div [@routerTransition]>
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{ 'TenantJoinRequests' | localize }}</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div class="table-responsive" [busyIf]="loading">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>{{ 'User' | localize }}</th>
                <th>{{ 'Message' | localize }}</th>
                <th>{{ 'CreationTime' | localize }}</th>
                <th style="width: 180px;">{{ 'Actions' | localize }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests">
                <td>{{ request.userName }}</td>
                <td>{{ request.message }}</td>
                <td>{{ request.creationTime | momentFormat: 'L LT' }}</td>
                <td>
                  <button class="btn btn-success btn-sm" (click)="approve(request.id)">{{ 'Approve' | localize }}</button>
                  <button class="btn btn-danger btn-sm ml-2" (click)="reject(request.id)">{{ 'Reject' | localize }}</button>
                </td>
              </tr>
              <tr *ngIf="!requests?.length && !loading">
                <td colspan="4" class="text-center">{{ 'NoData' | localize }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
