<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{ 'Users' | localize }}</span>
        </h3>
        <span class="m-section__sub">
          {{ 'UsersHeaderInfo' | localize }}
        </span>
      </div>
      <div class="col text-right mt-3 mt-md-0">
        <button (click)="exportToExcel()" class="btn btn-success">
          <i class="far fa-file-excel"></i>
          {{ 'ExportToExcel' | localize }}
        </button>
        <button (click)="createUser()" *ngIf="isGranted('Pages.Administration.Users.Create')" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          {{ 'Create' | localize }}
        </button>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <form autocomplete="off" class="horizontal-form">
          <div class="m-form m-form--label-align-right">
            <div class="row align-items-center m--margin-bottom-10">
              <div class="col-xl-12">
                <label for="UsersFilterText"> {{ 'Name' | localize }} / {{ 'UserName' | localize }} </label>
                <div class="input-group">
                  <input
                    [(ngModel)]="filters.filterText"
                    [placeholder]="l('SearchWithThreeDot')"
                    class="form-control m-input"
                    id="UsersFilterText"
                    name="filterText"
                    type="text"
                  />
                  <span class="input-group-btn">
                    <button (click)="getUsers()" class="btn btn-primary" type="submit">
                      <i [attr.aria-label]="l('Search')" class="flaticon-search-1"> </i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="align-items-center">
          <div [busyIf]="dataTableHelper.isLoading" class="primeng-datatable-container">
            <p-table
              (onLazyLoad)="getUsers($event)"
              [lazy]="true"
              [paginator]="false"
              [resizableColumns]="dataTableHelper.resizableColumns"
              [scrollable]="true"
              [value]="dataTableHelper.records"
              [loading]="dataTableHelper.isLoading"
              #dataTable
              rows="{{ dataTableHelper.defaultRecordsCountPerPage }}"
              ScrollWidth="100%"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col"
                    [hidden]="
                      !isGrantedAny(
                        'Pages.Administration.Users.Edit',
                        'Pages.Administration.Users.ChangePermissions',
                        'Pages.Administration.Users.Delete'
                      )
                    "
                    style="width: 80px"
                  >
                    {{ 'Actions' | localize }}
                  </th>
                  <th scope="col" pSortableColumn="authenticationSource" style="width: 140px">
                    {{ 'AuthenticationSource' | localize }}
                    <p-sortIcon field="authenticationSource"> </p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="username" style="width: 150px">
                    {{ 'UserName' | localize }}
                    <p-sortIcon field="username"> </p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="name" style="width: 150px">
                    {{ 'Name' | localize }}
                    <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th scope="col" style="width: 150px">
                    {{ 'Roles' | localize }}
                  </th>
                  <th scope="col" pSortableColumn="emailAddress" style="width: 250px">
                    {{ 'EmailAddress' | localize }}
                    <p-sortIcon field="emailAddress"> </p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="isEmailConfirmed" style="width: 200px">
                    {{ 'EmailConfirmed' | localize }}
                    <p-sortIcon field="isEmailConfirmed"> </p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="creationTime" style="width: 160px">
                    {{ 'ModificationTime' | localize }}
                    <p-sortIcon field="creationTime"> </p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="isActive" style="width: 70px">
                    {{ 'Active' | localize }}
                    <p-sortIcon field="isActive"> </p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template let-record="$implicit" pTemplate="body">
                <tr>
                  <td
                    [hidden]="
                      !isGrantedAny(
                        'Pages.Administration.Users.Edit',
                        'Pages.Administration.Users.ChangePermissions',
                        'Pages.Administration.Users.Delete'
                      )
                    "
                    style="width: 80px"
                  >
                    <div class="btn-group dropdown" container="body" dropdown>
                      <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                        <i class="fa fa-cog"></i>
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu">
                        <li>
                          <a
                            (click)="_impersonationService.impersonate(record.id, appSession.tenantId)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.Impersonation') && record.id !== appSession.userId"
                            href="javascript:;"
                          >
                            {{ 'LoginAsThisUser' | localize }}
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="editUserPermissionsModal.show(record.id, record.userName)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.ChangePermissions')"
                            href="javascript:;"
                          >
                            {{ 'Permissions' | localize }}
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="unlockUser(record)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.ChangePermissions')"
                            href="javascript:;"
                          >
                            {{ 'Unlock' | localize }}
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="closeSessionUser(record)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.ChangePermissions')"
                            href="javascript:;"
                          >
                            {{ 'CloseSession' | localize }}
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="showTenantMembership(record)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.Edit')"
                            href="javascript:;"
                          >
                            {{ 'TenantMembership' | localize }}
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="createOrEditUserModal.show(record.id, record.authenticationSource)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.Edit')"
                            href="javascript:;"
                          >
                            {{ 'Edit' | localize }}
                          </a>
                        </li>

                        <li>
                          <a
                            (click)="deleteUser(record)"
                            *ngIf="permission.isGranted('Pages.Administration.Users.Delete')"
                            href="javascript:;"
                          >
                            {{ 'Delete' | localize }}
                          </a>
                        </li>
                        <li>
                          <a (click)="showHistory(record)" *ngIf="entityHistoryEnabled" href="javascript:;">
                            {{ 'History' | localize }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td style="width: 140px">
                    <span *ngIf="record.authenticationSource == undefined">
                      <span class="m-badge m-badge--light m-badge--wide">
                        {{ 'SystemName' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'ActiveDirectory'">
                      <span class="m-badge m-badge--danger m-badge--wide">
                        {{ 'ActiveDirectoryName' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'LDAP'">
                      <span class="m-badge m-badge--success m-badge--wide">
                        {{ 'LDAP' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'Microsoft'">
                      <span class="m-badge m-badge--metal m-badge--wide">
                        {{ 'Microsoft' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'Google'">
                      <span class="m-badge m-badge--brand m-badge--wide">
                        {{ 'Google' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'OpenIdConnect'">
                      <span class="m-badge m-badge--warning m-badge--wide">
                        {{ 'OpenIdConnect' | localize }}
                      </span>
                    </span>
                    <span *ngIf="record.authenticationSource == 'AuthZero'">
                      <span class="m-badge m-badge--warning m-badge--wide">
                        {{ 'Auth0' | localize }}
                      </span>
                    </span>
                  </td>
                  <td style="width: 150px">
                    {{ record.userName }}
                  </td>
                  <td style="width: 150px">
                    {{ record.name }}
                  </td>
                  <td style="width: 150px">
                    {{ getRolesAsString(record.roles) }}
                  </td>
                  <td style="width: 250px">
                    {{ record.emailAddress }}
                  </td>
                  <td style="width: 200px">
                    <app-status-badge
                      [value]="record.isEmailConfirmed"
                      [trueLabel]="'Yes' | localize"
                      [falseLabel]="'No' | localize"
                    ></app-status-badge>
                  </td>
                  <td style="width: 160px">
                    {{ record.lastModificationDate | momentFormat: 'L LT' }}
                  </td>
                  <td style="width: 70px">
                    <app-status-badge
                      [value]="record.isActive"
                      [trueLabel]="'Yes' | localize"
                      [falseLabel]="'No' | localize"
                    ></app-status-badge>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <app-empty-state *ngIf="dataTableHelper.totalRecordsCount == 0 && !dataTableHelper.isLoading" [message]="'NoData' | localize"></app-empty-state>
            <div class="primeng-paging-container">
              <p-paginator
                (onPageChange)="getUsers($event)"
                [rows]="dataTableHelper.defaultRecordsCountPerPage"
                [rowsPerPageOptions]="dataTableHelper.predefinedRecordsCountPerPage"
                [totalRecords]="dataTableHelper.totalRecordsCount"
                #paginator
              >
              </p-paginator>
              <span class="total-records-count">
                {{ 'TotalRecordsCount' | localize: dataTableHelper.totalRecordsCount }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <createOrEditUserModal (modalSave)="reloadPage()" #createOrEditUserModal> </createOrEditUserModal>
  <editUserPermissionsModal #editUserPermissionsModal> </editUserPermissionsModal>
  <userTenantMembershipModal #userTenantMembershipModal></userTenantMembershipModal>
  <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>
