<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>Audit Log</span>
        </h3>
        <span class="m-section__sub">Track administrator and system actions.</span>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div class="align-items-center">
          <div class="primeng-datatable-container">
            <p-table
              [value]="logs"
              [paginator]="true"
              [rows]="25"
              [totalRecords]="totalRecords"
              [scrollable]="true"
              scrollHeight="400px"
              styleClass="p-datatable-striped p-datatable-sm"
              (onLazyLoad)="loadLogs($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 180px">Timestamp</th>
                  <th style="width: 150px">User</th>
                  <th style="width: 300px">Action</th>
                  <th style="width: 100px">Duration</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-log>
                <tr>
                  <td>{{ log.executionTime | date:'medium' }}</td>
                  <td>{{ log.userName }}</td>
                  <td>{{ log.action }}</td>
                  <td>{{ log.executionDuration }} ms</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4" class="text-center">No audit logs found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
