<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>Feature Flags</span>
        </h3>
        <span class="m-section__sub">Enable or disable platform features.</span>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div class="align-items-center">
          <div class="primeng-datatable-container">
            <p-table
              [value]="flags"
              [paginator]="false"
              [scrollable]="true"
              scrollHeight="400px"
              styleClass="p-datatable-striped p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 200px">Name</th>
                  <th style="width: 350px">Description</th>
                  <th style="width: 100px">Enabled</th>
                  <th style="width: 120px">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-flag>
                <tr>
                  <td>{{ flag.name }}</td>
                  <td>{{ flag.description }}</td>
                  <td>
                    <span class="m-badge m-badge--wide" [class.m-badge--success]="flag.isEnabled" [class.m-badge--metal]="!flag.isEnabled">
                      {{ flag.isEnabled ? 'Yes' : 'No' }}
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="toggle(flag)">
                      <i class="la la-toggle-on"></i> Toggle
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4" class="text-center">No feature flags found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
