<div class="content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">Build Files: {{ buildId }}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div *ngIf="loading" class="m-loader m-loader--info">Loading files...</div>
      <p-table [value]="files" *ngIf="!loading && files.length">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Content Type</th>
            <th>Last Modified</th>
            <th>Entry Point</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.sizeBytes | number }} bytes</td>
            <td>{{ file.contentType }}</td>
            <td>{{ file.lastModified | date:'short' }}</td>
            <td>
              <span *ngIf="file.isIndexHtml" class="m-badge m-badge--success">index.html</span>
            </td>
            <td>
              <a [href]="file.url" target="_blank" rel="noopener" class="btn btn-sm btn-primary">Open</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p *ngIf="!loading && !files.length">No files found for this build.</p>
    </div>
  </div>
</div>
