<div [@routerTransition]>
  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{ 'Editions' | localize }}</span>
        </h3>
        <span class="m-section__sub">
          {{ 'EditionsHeaderInfo' | localize }}
        </span>
      </div>
      <div class="col text-right mt-3 mt-md-0">
        <button *ngIf="isGranted('Pages.Administration.Editions.Create')" (click)="createEdition()" class="btn btn-primary">
          <i class="flaticon-add"></i>
          {{ 'Create' | localize }}
        </button>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <form autocomplete="off" class="horizontal-form">
          <div class="m-form m-form--label-align-right">
            <div class="row align-items-center m--margin-bottom-10">
              <div class="col-xl-12">
                <label for="EditionsFilterText">{{ 'Filter' | localize }}</label>
                <div class="input-group">
                  <input
                    [(ngModel)]="filters.filterText"
                    [placeholder]="l('SearchWithThreeDot')"
                    class="form-control m-input"
                    id="EditionsFilterText"
                    name="filterText"
                    type="text"
                  />
                  <span class="input-group-btn">
                    <button (click)="getEditions()" class="btn btn-primary" type="submit">
                      <i [attr.aria-label]="l('Search')" class="flaticon-search-1"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="align-items-center">
          <div [busyIf]="dataTableHelper.isLoading" class="primeng-datatable-container">
            <p-table
              (onLazyLoad)="getEditions($event)"
              [lazy]="true"
              [paginator]="false"
              [resizableColumns]="dataTableHelper.resizableColumns"
              [scrollable]="true"
              [value]="dataTableHelper.records"
              [loading]="dataTableHelper.isLoading"
              #dataTable
              rows="{{ dataTableHelper.defaultRecordsCountPerPage }}"
              ScrollWidth="100%"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th scope="col" pSortableColumn="displayName" style="width: 180px">
                    {{ 'Name' | localize }}
                    <p-sortIcon field="displayName"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="monthlyPrice" style="width: 110px">
                    {{ 'MonthlyPrice' | localize }}
                    <p-sortIcon field="monthlyPrice"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="annualPrice" style="width: 110px">
                    {{ 'AnnualPrice' | localize }}
                    <p-sortIcon field="annualPrice"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="quarterlyPrice" style="width: 110px">
                    {{ 'QuarterlyPrice' | localize }}
                    <p-sortIcon field="quarterlyPrice"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="biannualPrice" style="width: 110px">
                    {{ 'BiannualPrice' | localize }}
                    <p-sortIcon field="biannualPrice"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="permanentPrice" style="width: 120px">
                    {{ 'PermanentPrice' | localize }}
                    <p-sortIcon field="permanentPrice"></p-sortIcon>
                  </th>
                  <th scope="col" pSortableColumn="isFree" style="width: 90px">
                    {{ 'Free' | localize }}
                    <p-sortIcon field="isFree"></p-sortIcon>
                  </th>
                  <th scope="col" style="width: 130px">{{ 'Actions' | localize }}</th>
                </tr>
              </ng-template>
              <ng-template let-record="$implicit" pTemplate="body">
                <tr>
                  <td style="width: 180px">{{ record.displayName }}</td>
                  <td style="width: 110px">{{ record.monthlyPrice | number: '1.2-2' }}</td>
                  <td style="width: 110px">{{ record.annualPrice | number: '1.2-2' }}</td>
                  <td style="width: 110px">{{ record.quarterlyPrice | number: '1.2-2' }}</td>
                  <td style="width: 110px">{{ record.biannualPrice | number: '1.2-2' }}</td>
                  <td style="width: 120px">{{ record.permanentPrice | number: '1.2-2' }}</td>
                  <td style="width: 90px">
                    <app-status-badge
                      [value]="record.isFree"
                      [trueLabel]="'Yes' | localize"
                      [falseLabel]="'No' | localize"
                    ></app-status-badge>
                  </td>
                  <td style="width: 130px">
                    <button *ngIf="isGranted('Pages.Administration.Editions.Features')" (click)="showFeatures(record)" class="btn btn-sm btn-clean btn-icon btn-icon-md" [attr.aria-label]="l('Features')">
                      <i class="flaticon-interface-8"></i>
                    </button>
                    <button *ngIf="isGranted('Pages.Administration.Editions.Edit')" (click)="editEdition(record)" class="btn btn-sm btn-clean btn-icon btn-icon-md" [attr.aria-label]="l('Edit')">
                      <i class="flaticon-edit"></i>
                    </button>
                    <button *ngIf="isGranted('Pages.Administration.Editions.Delete')" (click)="deleteEdition(record)" class="btn btn-sm btn-clean btn-icon btn-icon-md" [attr.aria-label]="l('Delete')">
                      <i class="flaticon-delete-1"></i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <app-empty-state *ngIf="dataTableHelper.totalRecordsCount === 0 && !dataTableHelper.isLoading" [message]="'NoData' | localize"></app-empty-state>
            <div class="primeng-paging-container">
              <p-paginator
                (onPageChange)="getEditions($event)"
                [rows]="dataTableHelper.defaultRecordsCountPerPage"
                [rowsPerPageOptions]="dataTableHelper.predefinedRecordsCountPerPage"
                [totalRecords]="dataTableHelper.totalRecordsCount"
                #paginator
              >
              </p-paginator>
              <span class="total-records-count">
                {{ 'TotalRecordsCount' | localize: dataTableHelper.totalRecordsCount }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <createOrEditEditionModal #createOrEditEditionModal (modalSave)="reloadPage()"></createOrEditEditionModal>
  <editionFeaturesModal #editionFeaturesModal (modalSave)="reloadPage()"></editionFeaturesModal>
</div>
